<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Notifications</div>
    <div class="card-block">
      <button class="btn btn-success" (click)="showSuccess()">Try Success</button>
      <button class="btn btn-danger" (click)="showError()">Try Error</button>
      <button class="btn btn-warning" (click)="showWarning()">Try Warning</button>
      <button class="btn btn-info" (click)="showInfo()">Try Info</button>
      <button class="btn btn-primary" (click)="showPrimary()">Try Primary</button>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
