<div class=" row animated fadeIn">

  <div class="col-md-7 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_content" style="min-height: 400px;"  >

        <ul *ngIf="sourceType=='' && currentStep=='step1'"  class="list-unstyled timeline default-document-info" >
          <li>
            <div class="block">
              <div class="tags">
                <a href="" class="tag">
                  <span>Step1</span>
                </a>
              </div>
              <div class="block_content">
                <h2 class="title">
                  <a> Initiate eSign</a>
                </h2>

                <p class="excerpt"> To eSign a document, you only need two things – an Aadhaar number and an Aadhaar-registered mobile number. First, upload the document you have to eSign. Enter your Aadhaar number in the field provided,followed by the One Time Password (OTP) that you will receive on your mobile registered with.
                  Aadhaar.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="block">
              <div class="tags">
                <a href="" class="tag">
                  <span>Step2</span>
                </a>
              </div>
              <div class="block_content">
                <h2 class="title">
                  <a>Invite other Signatories</a>
                </h2>

                <p class="excerpt">Send eSign invite to other signatories. They will receive an email notification to eSign the document. You can specify the page number and position of the eSign. You can also define a sequence of signatories.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="block">
              <div class="tags">
                <a href="" class="tag">
                  <span>Step3</span>
                </a>
              </div>
              <div class="block_content">
                <h2 class="title">
                  <a>Save your Document</a>
                </h2>

                <p class="excerpt"> Your signed document will be available for download. Once all the signatories have placed their
                  eSign on the document, you can download and safeguard your document.</p>
              </div>
            </div>
          </li>
        </ul>


        <form *ngIf="sourceType=='local-file' && currentStep=='step1'" class="form-horizontal form-label-left">

          <div class="form-group">
            <label >Upload Document</label>

            <input type="file" class="form-control" accept=".pdf"  (change)="fileEvent($event)" ng2FileSelect [uploader]="uploader" />

          </div>
        </form>

        <div class="row" *ngIf="uploader?.queue?.length>0" >



          <div class="col-sm-12 col-lg-12">
            <div class="card">
              <div class="card-block"  *ngFor="let item of uploader.queue">
                <div class="h4 m-0">

                  {{ item.file.name }}
              <!--    <span *ngIf="item.isSuccess"><i class="glyphicons glyphicons-ok x2"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicons glyphicons-remove x2"></i></span>-->
                </div>
                <div>{{ item.file.size/1024/1024 | number:'.2' }} MB</div>

                <div class="progress progress-xs my-1">
                  <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }" aria-valuenow="{uploader.progress}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <button  type="button" class="btn btn-secondary btn-success "
                        (click)="uploadFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="fa fa-arrow-circle-o-up"></span> Upload & Continue
                </button>

                <button type="button" class="btn btn-secondary"  (click)="uploader.clearQueue()"><span class="fa fa-trash"></span> Cancel</button>
              </div>
            </div>
          </div><!--/.col-->

          <div class="col-md-12"  style="min-height: 100px; text-align: center; padding-top: 10px;">
            <iframe border="0" id="file_preview" style="width: 100%; height: 100vh;" ></iframe>
          </div>

        </div>


        <div *ngIf="fileName =='' && sourceType=='local-file' && currentStep=='step1' " class="col-md-12" style=" border: 1px solid #ddd; min-height: 300px; text-align: center; padding-top: 140px;">
          Please upload the file to See the preview here.
        </div>


        <div class="form-group" *ngIf="sourceType=='google-drive' && currentStep=='step1'" >
          <label >In Progress</label>
          <div style=" border: 1px solid #ddd; min-height: 300px; text-align: center; padding-top: 140px;">

            <p>Soon you will be able to access documents from your Google Drive to eSign.</p>
          </div>

        </div>





        <form *ngIf="sourceType=='standard-template' && currentStep=='step1'"  class="form-horizontal form-label-left" >
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <strong>Standard </strong>
                  <small>Templates</small>
                </div>
                <div class="card-block">

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <select class="form-control" id="ccmonth">
                        <option>Choose Department</option>
                        <option>HR </option>
                        <option>Sales </option>
                        <option>QA </option>
                        <option>Training </option>
                      </select>
                    </div>

                    <div class="col-sm-6">
                        <div class="input-group">
                          <input type="email" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search here">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">Go!</button>
                          </span>
                        </div>
                    </div>
                  </div>
                  <!--/.row-->
                  <div class="row">

                    <div class="col-sm-4 col-md-4 text-center">
                      <div class="card">
                        <div class="card-block">
                          <i class="filetypes filetypes-pdf x2"></i>

                        </div>
                        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 text-center">
                      <div class="card">
                        <div class="card-block">
                          <i class="filetypes filetypes-pdf x2"></i>

                        </div>
                        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 text-center">
                      <div class="card">
                        <div class="card-block">
                          <i class="filetypes filetypes-pdf x2"></i>

                        </div>
                        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 text-center">
                      <div class="card">
                        <div class="card-block">
                          <i class="filetypes filetypes-pdf x2"></i>

                        </div>
                        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 text-center">
                      <div class="card">
                        <div class="card-block">
                          <i class="filetypes filetypes-pdf x2"></i>

                        </div>
                        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 text-center">
                      <div class="card">
                        <div class="card-block">
                          <i class="filetypes filetypes-pdf x2"></i>

                        </div>
                        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
                      </div>
                    </div>

                  </div>
                  <!--/.row-->


                </div>
              </div>
            </div>


          </div>


        </form>

      </div>
    </div>
  </div>

  <div class="col-md-5 col-xs-12">
    <div class="x_panel">

      <div class="x_content" style="min-height: 400px;" *ngIf="currentStep=='step1'" >

        <form class="form-horizontal form-label-left" >

          <ul class="messages file_source_interface">
            <li><h4 class="heading mb0">Choose File Source : </h4></li>
            <li>

              <input type="radio" name="filesourceOption" (click)="sourceType='local-file'" class="flat"  style="float: left; height: 30px; width: 30px;">

              <div class="message_wrapper pointer" (click)="sourceType='local-file'">
                <h4 class="heading mb0">Local File</h4>
                <p class="message">Local File from your system.</p>
              </div>
            </li>

            <li>
              <input type="radio" name="filesourceOption"  (click)="sourceType='google-drive'"  class="flat" style="float: left; height: 30px; width: 30px;">
              <div class="message_wrapper pointer" (click)="sourceType='google-drive'">
                <h4 class="heading mb0">Google Drive [Coming soon]</h4>
                <p class="message ">Load file from external Google cloud.</p>
              </div>
            </li>
            <li>
              <input type="radio" name="filesourceOption" (click)="sourceType='standard-template'" class="flat" style="float: left; height: 30px; width: 30px;">
              <div class="message_wrapper pointer" (click)="sourceType='standard-template'">
                <h4 class="heading mb0">Standard Template</h4>
                <p class="message">Use available custom template</p>
              </div>
            </li>
          </ul>


        </form>
      </div>






      <div class="row" style="min-height: 300px;"  *ngIf="currentStep=='step2'" >


        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-users"></i> Signatories

              <button class="btn btn-outline-primary btn-sm pull-right pointer" type="button" (click)="importOption=!importOption"> <i class="fa fa-file-excel-o"></i> Import</button>
            </div>
            <div class="card-block">

              <input *ngIf="importOption" type="file" class="form-control" accept=".xls,.xlsx" ng2FileSelect [uploader]="excelUploader" />


              <div *ngFor="let item of excelUploader.queue">
                <div class="h5 " style="margin-top: 10px;">

                  {{ item.file.name }}

                </div>
                <div>{{ item.file.size/1024/1024 | number:'.2' }} MB</div>

                <div class="progress progress-xs my-1">
                  <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': excelUploader.progress + '%' }" aria-valuenow="{uploader.progress}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <button  type="button" class="btn btn-secondary btn-success "
                         (click)="importFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="fa fa-arrow-circle-o-up"></span> Upload & Continue
                </button>

                <button type="button" class="btn btn-secondary"  (click)="item.remove()"><span class="fa fa-trash"></span> Cancel</button>

              </div>
              <hr *ngIf="importOption" />

              <table class="table" *ngIf="signerList?.length>0"  >
                <tbody>
                <tr *ngFor="let signer of signerList">

                  <td> {{signer.name}}</td>
                  <td> {{signer.emailId}}</td>
                  <td>
                    <i class="fa fa-trash pointer" (click)="deleteSigner(signer)"></i>
                  </td>
                </tr>

                </tbody>
              </table>
              <ul *ngIf="signerList?.length>1000" class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
              <hr *ngIf="signerList?.length>0" />
              <form class="well" *ngIf="!importOption"   >

                <div class="form-group"  >
                  <label for="signer_name">Name</label>
                  <input type="text" class="form-control" id="signer_name"  [(ngModel)]="signer_name" name="signer_name" placeholder="Search Name" >
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="signer_email">Email</label>
                    <input type="text" class="form-control" id="signer_email"  [(ngModel)]="signer_email" name="signer_email" placeholder="Email " >
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="signer_mobile">Mobile Number</label>
                    <input type="number" class="form-control" id="signer_mobile" [(ngModel)]="signer_mobile" name="signer_mobile" placeholder="Mobile Number ">
                  </div>
                </div>

                <!--/.row-->

                <!--<div class="row">
                  <div class="form-group col-sm-6">
                    <label for="signature_position">Signature Position</label>
                    <select class="form-control" id="signature_position">
                      <option value="">Signature Position</option>
                      <option value="top_left">Top Left </option>
                      <option value="top_right">Top Right </option>
                      <option value="bottom_right">Bottom Right </option>
                      <option value="bottom_left">Bottom Left </option>
                    </select>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="signature_page">Signature Page</label>
                    <select class="form-control" id="signature_page">
                      <option value="">Signature Page</option>
                      <option value="">All </option>
                      <option value="first">First </option>
                      <option value="last">Last </option>
                      <option value="even">Even </option>
                      <option value="odd">Odd </option>
                    </select>
                  </div>
                </div>
                &lt;!&ndash;/.row&ndash;&gt;-->

                <button class="btn btn-sm btn-primary" [disabled]="!signer_name || !signer_email  " type="button" (click)="addSigner($event)"><i class="fa fa-check-square-o"></i> Add Signatory </button>

              </form>
              <hr  *ngIf="!importOption"  />

              <div class="form-group ">

                <label class="switch switch-default switch-primary-outline-alt">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>

                <label> Follow signatories in sequence</label>

              </div>

            </div>


          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->



      <div class="row" style="min-height: 300px;"  *ngIf="currentStep=='step2'" >


        <div class="col-lg-12">
          <div class="card">
           <!-- <div class="card-header">
              <i class="fa fa-paperclip"></i> Supporting Document(s)
            </div>-->
            <div class="card-block">
             <!-- <h5></h5>
              <ul class="list-unstyled project_files">
                <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                </li>
                <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                </li>

                <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                </li>
              </ul>

              <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-paperclip"></i> Add Supporting Document </button>
-->
              <!--<hr />-->


              <div class="form-group ">

                <label class="switch switch-default switch-primary-outline-alt">
                  <input type="checkbox" class="switch-input"  [(ngModel)]="self_esign" >
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>

                <label> Add me as signer and eSign </label>

              </div>

            </div>

            <div class="card-footer" *ngIf="currentStep=='step2'">
              <button class="btn btn-sm btn-primary" type="button" (click)="saveDocument($event)"><i class="fa fa-dot-circle-o"></i> Continue</button>

            </div>


          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

      <div class="row" style="min-height: 300px;"  *ngIf="currentStep=='step3' || currentStep=='step4' || currentStep=='step5' || currentStep=='step6' " >
        <div class="col-lg-12" *ngIf="currentStep=='step4' || currentStep=='step5' ">


          <div class="card" *ngIf="currentStep=='step5'">
            <div class="card-block p-0 clearfix">
              <i class="fa fa-check bg-info p-2 font-2xl mr-1 float-left"></i>
              <div class="h5 text-info mb-0 pt-1">Success</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs"> OTP has been sent successfully.</div>
            </div>
          </div>

          <div class="card" >
            <div class="card-header">  <i class="fa fa-paperclip"></i> Aadhaar Based eSign  </div>
            <div class="card-block">


              <div class="form-group " [ngClass]="{'has-danger': aadhaarError}"   *ngIf="currentStep=='step4'">
                <label for="signer_name">Aadhaar Number *</label>
                <input type="text" class="form-control" id="signer_aadhaar" value="914156057818" [(ngModel)]="signer_aadhaar" name="signer_aadhaar" placeholder="Please enter Aadhaar Number">
              </div>


              <div class="form-group" [ngClass]="{'has-danger': aadhaarOtpError}"  *ngIf="currentStep=='step5'">
                <label for="signer_name">OTP *</label>
                <input type="text" class="form-control" id="signer_otp" [(ngModel)]="signer_otp"  name="signer_otp" placeholder="Please enter OTP Received">
              </div>

              <div class="form-group" *ngIf="currentStep=='step5'">
                <input type="checkbox" class="flat" name="termsandconditions" [(ngModel)]="termsandconditions" > I agree to the <a href="">Terms and Conditions</a>
              </div>

            </div>

            <div class="card-footer">

              <img *ngIf="loading" src="assets/img/progress.gif">

              <button  *ngIf="currentStep=='step4' && !loading" class="btn btn-sm btn-primary" type="button" (click)="validateAadhaar()"><i class="fa fa-dot-circle-o"></i> Continue</button>
              <button  *ngIf="currentStep=='step5' && !loading " class="btn btn-sm btn-primary" type="button" (click)="validateOTP()"><i class="fa fa-dot-circle-o"></i> Continue</button>

            </div>


          </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-12"  *ngIf="currentStep=='step3'">
          <div class="card">
            <div class="card-block p-1 clearfix">
              <i class="fa fa-check  bg-primary p-1 font-2xl mr-1 float-left"></i>
              <div class="h5 text-primary mb-0 ">eSign Request initiated Successfully</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">First Signer Invited .</div>
            </div>

          </div>
        </div>

        <div class="col-sm-6 col-lg-12"   *ngIf="currentStep=='step6'">
          <div class="card">
            <div class="card-block p-1 clearfix">
              <i class="fa fa-check  bg-primary p-1 font-2xl mr-1 float-left"></i>
              <div class="h5 text-primary mb-0 ">Document eSigned Successfully</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Download eSigned document below.</div>
            </div>
            <div class="card-footer px-1 py-h">
              <a class="font-weight-bold font-xs btn-block text-muted" href="{{esignedFileSource}}"  ><i class="fa fa-file-word-o"></i> eSignedocument.pdf </a>
            </div>
          </div>
        </div>


      </div>
      <!--/.row-->

    </div>
  </div>

</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
