<div class=" row animated fadeIn" style="margin-right: 0px!important;margin-left: 0px!important;">




      <!-- page content -->
      <div class="right_col" role="main" style="width:100%">
        <div class="">

          <div class="page-title" style="padding-left:15px;">
            <div class="title_center" >
              <h4>You are invited to eSign the below document</h4>
            </div>


          </div>

          <div class="clearfix"></div>

          <div class="row" style="margin-right: 0px!important;margin-left: 0px!important;">




            <div class="col-md-12">


              <div class="x_panel">

                <div class="x_content">
                  <div class="row">
                    <!-- /MAIL LIST -->

                    <!-- CONTENT MAIL -->
                    <div class="col-sm-8 ">
                      <div class="inbox-body">
                        <div class="mail_heading row">
                          <div class="col-md-8">
                            <div >
                             <button class="btn btn-sm btn-primary" type="button" (click)="window.print()"><i class="fa fa-print"></i> Print</button>
                            </div>
                          </div>
                          <div class="col-md-4 text-right">
                            <p class="date"> Date : {{createdDateTime}}</p>
                          </div>
                          <div class="col-md-12">
                            <h4> {{documentTitle}}</h4>
                          </div>
                        </div>

                        <div class="view-mail">
                          <iframe border="0" id="file_preview"  style="width: 100%; height: 100vh;" ></iframe>
                        </div>
                       <!-- <div class="attachment">
                          <p>
                            <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
                            <a href="#">Download all attachments</a>
                          </p>
                          <ul>
                            <li>
                              <a href="#" class="atch-thumb">
                                <img src="assets/img/inbox.png" alt="img" />
                              </a>

                              <div class="file-name">
                                image-name.jpg
                              </div>
                              <span>12KB</span>


                              <div class="links">
                                <a href="#">View</a> -
                                <a href="#">Download</a>
                              </div>
                            </li>

                            <li>
                              <a href="#" class="atch-thumb">
                                <img src="assets/img/inbox.png" alt="img" />
                              </a>

                              <div class="file-name">
                                img_name.jpg
                              </div>
                              <span>40KB</span>

                              <div class="links">
                                <a href="#">View</a> -
                                <a href="#">Download</a>
                              </div>
                            </li>
                            <li>
                              <a href="#" class="atch-thumb">
                                <img src="assets/img/inbox.png" alt="img" />
                              </a>

                              <div class="file-name">
                                img_name.jpg
                              </div>
                              <span>30KB</span>

                              <div class="links">
                                <a href="#">View</a> -
                                <a href="#">Download</a>
                              </div>
                            </li>

                          </ul>
                        </div>-->
                        <div >

                          <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-print"></i> Print</button>
                        </div>
                      </div>

                    </div>
                    <!-- /CONTENT MAIL -->


                    <div class="col-sm-4 ">


                      <div class="row" style="min-height: 300px;"  *ngIf="currentStep=='step4' || currentStep=='step5' || currentStep=='step6' " >
                        <div class="col-lg-12" *ngIf="currentStep=='step4' || currentStep=='step5' ">


                          <div class="card" *ngIf="currentStep=='step5' && !esignError">
                            <div class="card-block p-0 clearfix">
                              <i class="fa fa-check bg-info p-2 font-2xl mr-1 float-left"></i>
                              <div class="h5 text-info mb-0 pt-1">Success</div>
                              <div class="text-muted text-uppercase font-weight-bold font-xs"> OTP has been sent successfully.</div>
                            </div>
                          </div>



                          <div class="card" >
                            <div class="card-header">  <i class="fa fa-paperclip"></i> Aadhaar Based eSign  </div>
                            <div class="card-block">


                              <div class="form-group " [ngClass]="{'has-danger': aadhaarError}"   *ngIf="currentStep=='step4'">
                                <label for="signer_aadhaar">Aadhaar Number *</label>
                                <input type="text" class="form-control" id="signer_aadhaar" value="914156057818" [(ngModel)]="signer_aadhaar" name="signer_aadhaar" placeholder="Please enter Aadhaar Number">
                              </div>


                              <div class="form-group" [ngClass]="{'has-danger': aadhaarOtpError}"  *ngIf="currentStep=='step5'">
                                <label for="signer_otp">OTP *</label>
                                <input type="text" class="form-control" id="signer_otp" [(ngModel)]="signer_otp"  name="signer_otp" placeholder="Please enter OTP Received">
                              </div>

                              <div class="form-group" *ngIf="currentStep=='step5'">
                                <input type="checkbox" class="flat" name="termsandconditions" [(ngModel)]="termsandconditions" > I agree to the <a href="">Terms and Conditions</a>
                              </div>

                              <div class="card-block p-0 clearfix" *ngIf="currentStep=='step4' && esignError">
                                <div class="h6 text-info mb-0 pt-1">{{ esignErrorDesc}}</div>
                                <div class="text-muted font-weight-bold font-xs">Please try again.</div>
                              </div>

                              <div class="card-block p-0 clearfix" *ngIf="currentStep=='step5' && esignError">
                                <div class="h5 text-danger mb-0 pt-1">eSigned Failed -{{ esignErrorCode}} </div>
                                <div class="text-muted text-info font-weight-bold font-xs"> {{ esignErrorDesc}}</div>
                                <div class="text-muted font-weight-bold font-xs">Please try again.</div>
                              </div>

                            </div>

                            <div class="card-footer">
                              <img *ngIf="loading" src="assets/img/progress.gif">
                              <button  *ngIf="currentStep=='step4' && !loading" class="btn btn-sm btn-primary" type="button" (click)="validateAadhaar()"><i class="fa fa-dot-circle-o"></i> Continue</button>
                              <button  *ngIf="currentStep=='step5' && !loading" class="btn btn-sm btn-primary" type="button" (click)="validateOTP()"><i class="fa fa-dot-circle-o"></i> Continue</button>
                            </div>


                          </div>
                        </div>
                        <!--/.col-->

                        <div class="col-sm-6 col-lg-12"  *ngIf="currentStep=='step3'">
                          <div class="card">
                            <div class="card-block p-1 clearfix">
                              <i class="fa fa-check  bg-primary p-1 font-2xl mr-1 float-left"></i>
                              <div class="h5 text-primary mb-0 ">Document Created Successfully</div>
                              <div class="text-muted text-uppercase font-weight-bold font-xs">First Signer Invited .</div>
                            </div>

                          </div>
                        </div>

                        <div class="col-sm-6 col-lg-12"   *ngIf="currentStep=='step6'">
                          <div class="card">
                            <div class="card-block p-1 clearfix">
                              <i class="fa fa-check  bg-primary p-1 font-2xl mr-1 float-left"></i>
                              <div class="h5 text-primary mb-0 ">Document eSigned Successfully</div>
                              <div class="text-muted text-uppercase font-weight-bold font-xs">Download eSigned document below.</div>
                            </div>
                            <div class="card-footer px-1 py-h">
                              <a class="font-weight-bold font-xs btn-block text-muted" href="{{esignedFileSource}}"  ><i class="fa fa-file-word-o"></i> eSignedocument.pdf </a>
                            </div>
                          </div>
                        </div>


                      </div>
                      <!--/.row-->











                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->







</div>
